
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/CateringLayout.cshtml";
}
<link href="~/Content/ThankYou.css" rel="stylesheet" />
<div class="div1">
    <h2>Thank you for choosing us</h2>
    <h3>Our team will contact you soon.</h3>
</div>

